[#if ID=""#]
 [#begin CHARTS#]
 <p>
  <big><b><a href="?id=[#ID#]&from_list=1">[#TITLE#]</a></b></big>
  [#if SUBTITLE!=""#]
  <br>[#SUBTITLE#]
  [#endif#]
 </p>
 [#end CHARTS#]
[#endif#]

[#if ID!=""#]
<script src="<#ROOTHTML#>3rdparty/highcharts/highcharts.js"></script>
<script src="<#ROOTHTML#>3rdparty/highcharts/highcharts-more.js"></script>
<script src="<#ROOTHTML#>3rdparty/highcharts/modules/solid-gauge.js"></script>
[#if THEME=""#]
[#if "<#SETTINGS_THEME#>"=="dark"#]
<script src="<#ROOTHTML#>3rdparty/highcharts/themes/dark-unica.js"></script>
[#endif SETTINGS_THEME#]
[#else THEME#]
<script src="<#ROOTHTML#>3rdparty/highcharts/themes/[#THEME#].js"></script>
[#endif THEME#]
<style>
    .highcharts-background {
        fill: rgba(0, 0, 0, 0);
    }
</style>

<script type="text/javascript">
    function syncExtremes(e) {
        var thisChart = this.chart;
        if (e.trigger !== 'syncExtremes') { // Prevent feedback loop
            Highcharts.each(Highcharts.charts, function (chart) {
                if (chart !== thisChart) {
                    if (chart.xAxis[0].setExtremes) { // It is null while updating
                        chart.xAxis[0].setExtremes(
                            e.min,
                            e.max,
                            undefined,
                            false,
                            { trigger: 'syncExtremes' }
                        );
                    }
                }
            });
        }
    }
</script>

[#if VIEW_MODE="edit_charts"#]
<script type="text/javascript">
    function saveConfig(json_config, chart_id) {
        var url='<#ROOTHTML#>ajax/charts.html?op=saveJSON';
        var request = {id: chart_id, config: json_config};
        $.ajax({
            url: url,
            data: JSON.stringify(request),
            contentType : 'application/json',
            type : 'POST',
            success: function(data) {
                //
            },
            cache: false
        });
    }
</script>
[#endif VIEW_MODE#]

[#if ENABLE_FULLSCREEN="1"#]
<script type="text/javascript">
    Highcharts.FullScreen = function(container) {
        this.init(container); // main div of the chart
    };

    Highcharts.FullScreen.prototype = {
        init: function(container) {
            if (container.requestFullscreen) {
                container.requestFullscreen();
            } else if (container.mozRequestFullScreen) {
                container.mozRequestFullScreen();
            } else if (container.webkitRequestFullscreen) {
                container.webkitRequestFullscreen();
            } else if (container.msRequestFullscreen) {
                container.msRequestFullscreen();
            }
        }
    };
</script>
[#endif#]

[#if FROM_LIST="1"#]
<p><a href="?">&lt;&lt;&lt; <#LANG_BACK#></a></p>
[#endif#]

<div id="chartsContainer">[#begin CHARTS#]
<div id="chart_[#UNIQ_ID#]">
[#if "<#ENABLE_FULLSCREEN#>"=="1"#]
<div style="padding-top:5px;padding-left:30px;position:absolute;z-index:1000">
    <a href="#" id="btnFullScreen[#UNIQ_ID#]" class="btn btn-default btn-success"><i class="glyphicon glyphicon-fullscreen"></i></a>
</div>
[#endif#]
<div id="container_[#UNIQ_ID#]" style="width:[#WIDTH#]; height:[#HEIGHT#];"></div>
<script language="javascript">
var chartUpdateTimer[#UNIQ_ID#];
function requestData[#UNIQ_ID#]() {
 //alert('load data!');
 [#begin PROPERTIES#]
    var url='<#ROOTHTML#>ajax/charts.html?id=<#ID#>&prop_id=[#ID#]&type=[#TYPE#]&period=<#PERIOD#>&group=<#GROUP#>&group_type=<#GROUP_TYPE#>';
    $.ajax({
        url: url,
        success: function(data) {
         var obj=jQuery.parseJSON(data);
         if (obj.RESULT=='OK') {
          var history_count=obj.HISTORY.length;
          if (history_count>0) {
           chart<#CHARTS.UNIQ_ID#>.series[[#NUM#]].setData(obj.HISTORY);
          }
         }
        },
        cache: false
    });
 [#end PROPERTIES#]
 chartUpdateTimer[#UNIQ_ID#]=setTimeout('requestData[#UNIQ_ID#]();', <#INTERVAL#>*1000);
 return false;
}

function requestMultiData[#UNIQ_ID#]() {
    //alert('load data!');
    var url='<#ROOTHTML#>ajax/charts.html?id=<#ID#>&multi_data=1&group=<#GROUP#>&group_type=<#GROUP_TYPE#>';
    $.ajax({
        url: url,
        success: function(data) {
            var obj=jQuery.parseJSON(data);
            if (obj.RESULT=='OK') {
                var history_count=obj.HISTORY.length;
                if (history_count>0) {
                    chart[#UNIQ_ID#].series[0].setData(obj.HISTORY);
                }
            }
        },
        cache: false
    });
    chartUpdateTimer<#UNIQ_ID#>=setTimeout('requestMultiData[#UNIQ_ID#]();', <#INTERVAL#>*1000);
return false;
}
 
$(function () {
    var config[#UNIQ_ID#] = {};

    [#if HISTORY_DEPTH!="0"#]
     [#inc charts_history_js.html#]
    [#else HISTORY_DEPTH#]
     [#inc charts_realtime_js.html#]
    [#endif HISTORY_DEPTH#]


    var options[#UNIQ_ID#] = {};
    [#if HIGHCHARTS_SETUP!=""#]
    var configFunc[#UNIQ_ID#] = ([#HIGHCHARTS_SETUP#]);
    config[#UNIQ_ID#] = configFunc[#UNIQ_ID#](config[#UNIQ_ID#], options[#UNIQ_ID#]) || config[#UNIQ_ID#];
    [#endif#]

    Highcharts.setOptions(options[#UNIQ_ID#]);
    chart[#UNIQ_ID#] = new Highcharts.Chart(config[#UNIQ_ID#]);


    [#if "<#ENABLE_FULLSCREEN#>"=="1"#]
    chart[#UNIQ_ID#]_fullScreenContainer=chart[#UNIQ_ID#].container.parentNode;

        let btn[#UNIQ_ID#] = document.getElementById("btnFullScreen[#UNIQ_ID#]");
        btn[#UNIQ_ID#].addEventListener('click', function() {

        if((chart[#UNIQ_ID#]_fullScreenContainer.innerWidth == screen.width)) {

           if (chart[#UNIQ_ID#]_fullScreenContainer.exitFullscreen) {
              chart[#UNIQ_ID#]_fullScreenContainer.exitFullscreen();
            } else if (chart[#UNIQ_ID#]_fullScreenContainer.mozCancelFullScreen) { /* Firefox */
               chart[#UNIQ_ID#]_fullScreenContainer.mozCancelFullScreen();
              } else if (chart[#UNIQ_ID#]_fullScreenContainer.webkitExitFullscreen) { /* Chrome, Safari and Opera */
                   chart[#UNIQ_ID#]_fullScreenContainer.webkitExitFullscreen();
              } else if (chart[#UNIQ_ID#]_fullScreenContainer.msExitFullscreen) { /* IE/Edge */
                chart[#UNIQ_ID#]_fullScreenContainer.msExitFullscreen();
         }
         return;
        }

  chart[#UNIQ_ID#].fullscreen = new Highcharts.FullScreen(chart[#UNIQ_ID#]_fullScreenContainer);
});
[#endif ENABLE_FULLSCREEN#]


   [#if "<#VIEW_MODE#>"=="edit_charts"#]
      saveConfig(config[#UNIQ_ID#], [#ID#]);
   [#endif#]
});
</script>
</div>[#end CHARTS#]</div>
[#if MULTIPLE_CHARTS="1"#]
<script type="text/javascript">
    ['mousemove', 'touchmove', 'touchstart'].forEach(function (eventType) {
        document.getElementById('chartsContainer').addEventListener(
            eventType,
            function (e) {
                var chart,
                    point,
                    i,
                    event;

                for (i = 0; i < Highcharts.charts.length; i = i + 1) {
                    chart = Highcharts.charts[i];
                    // Find coordinates within the chart
                    event = chart.pointer.normalize(e);
                    // Get the hovered point
                    point = chart.series[0].searchPoint(event, true);

                    if (point) {
                        point.highlight(e);
                    }
                }
            }
        );
    });

    Highcharts.Pointer.prototype.reset = function () {
        return undefined;
    };

    Highcharts.Point.prototype.highlight = function (event) {
        event = this.series.chart.pointer.normalize(event);
        this.onMouseOver(); // Show the hover marker
        this.series.chart.tooltip.refresh(this); // Show the tooltip
        this.series.chart.xAxis[0].drawCrosshair(event, this); // Show the crosshair
    };

</script>
[#endif#]
[#endif ID#]